build
cocos2d-x
rapidjson
openssl
Pods
Podfile.lock

*.xcworkspace
*.xcodeproj/*.mode1v3
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/project.xcworkspace